header{

    z-index: 999;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--main-blue);
    display: flex;
    justify-content: space-between;
}

#headerTitle{
    height: 80%;
    color: white;
    padding: 15px; 
    display: flex;
    align-items: center;
}

#headerLinks{
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

#headerLink{
    font-size: 25px;
    font-weight: 100;
    color: white;
    margin-right: 25px;
}

