*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: rgb(115, 115, 115);
    text-decoration: none;
}
a:hover{
    color: var(--main-blue);
}

:root{
    --main-blue: #02375f;
}
.hide{
    display: none;
}

li{
    list-style: none;
}

.inlineDisplay{
    display: inline;
}
/* 预先设定 */

#content{
    margin-top: 110px;
}

footer{
    grid-area: footer;;
}

#more{
    height: 100vh;
    grid-area: more;
}

